@import 'colors';
@import 'slick-custom-arrow';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Cabin", Arial, sans-serif;
    font-size: 10px;
    color: #231F20;
}

//progress bar
.prog {
    background: #E6E6E6;
    height: 4px;
    border-radius: 10px;

    .progBar {
        border-radius: 10px;
        background: #231F20;
        height: 4px;
    }
}

//button
.btn-large {
    display: block;
    height: 57px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: #231F20;
    border: 1px solid #D2D2D2;
    color: #fff;
    line-height: 57px;
    padding: 0px 50px;
    text-decoration: none;
    text-transform: uppercase;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.info-modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,0.9);
}

.info-modal-content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 360px;
    color: #737171;
    padding: 10px 0;
    height: 100%;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 600;
}

.info-modal-caption {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 360px;
    color: #737171;
    padding: 10px 0;
    height: 100%;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 600;
}

.info-modal-content, .info-modal-caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
}

.info-modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #bbb;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.info-modal-close:hover,
.info-modal-close:focus {
    color: #8E8E8E;
    text-decoration: none;
    cursor: pointer;
}

.breadcrumbs {
    display: none;
    font-size: 11px;
    line-height: 15px;
    margin-top: 10px;
    margin-bottom: 10px;

    > a {
        color: #B7B7B7;
        text-decoration: none;
    }

    > img {
        margin: 0 10px;
    }

    :last-child {
        color: #000000;
    }
}

#toggle-mobile {
    display: none;
}

.normal {
    height: 51px;
    font-size: 13px;
}

.select-active {
    // display: block;
    width: 100%;
    padding: 10px 20px;
    // line-height: 35px;
    color: #555;
    background-color: #fff;
    border: 1px solid #D2D2D2;
    appearance: none;
    background-image: url(img/arrow_dropdown.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 12px;

    &::-ms-expand {
        display: none; /* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
    }

    &:focus {
        outline: none;
    }
}

.app-icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    // text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

// .vertical-big-arrow-slick-prev {
//     right: 0;
//     left: 0;
//     top: -30px;

//     &::before {
//         content: '\f005';
//     }
// }

// .vertical-big-arrow-slick-next {
//     right: 0;
//     left: 0;
//     top: calc(100% + 30px);

//     &::before {
//         content: '\f004';
//     }
// }

// .vertical-big-arrow-slick-prev, .vertical-big-arrow-slick-next {
//     font-size: 0;
//     line-height: 0;
//     position: absolute;
//     display: block;
//     width: 26px;
//     height: 26px;
//     padding: 0;
//     margin: auto;
//     transform: translate(0, -50%);
//     cursor: pointer;
//     border: none;
//     outline: none;
//     background: transparent;

//     &::before {
//         font-family: 'fontello';
//         font-size: 26px;
//         line-height: 1;
//     }
// }

.custom-slick-prev {
    height: 20px!important;
    width: 20px!important;
    background: url('/img/prev_arrow.png')!important;
    background-position: center!important;
    background-size: cover!important;
  }

.custom-slick-next{
    height: 20px!important;
    width: 20px!important;
    background: url('/img/next_arrow.png')!important;
    background-position: center!important;
    background-size: cover!important;
}

.insta-container__slider__custom-slick-next {
    height: 30px!important;
    width: 30px!important;
    background: url('/img/next_arrow_white.png')!important;
    background-position: center!important;
    background-size: cover!important;
    right: 30px!important;
}

.insta-container__slider__custom-slick-prev {
    height: 30px!important;
    width: 30px!important;
    background: url('/img/prev_arrow_white.png')!important;
    background-position: center!important;
    background-size: cover!important;
    left: 30px!important;
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    font-size: 0px!important;
}

.slider-shoe-name {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    min-height: 20px;
}

.slider-shoe-code {
    font-size: 12px;
    font-weight: normal;
    text-transform: lowercase;
    min-height: 26px;
}

.slider-shoe-price {
    font-size: 15px;
    font-weight: bold;
    text-transform: lowercase;
    min-height: 29px;
}

.slider-shoe-price-discout {
    font-size: 13px;
    font-weight: normal;
    color: #CBCBCB;
    text-decoration: line-through;
    vertical-align: top;
    margin-left: 8px;
}

.text-danger {
    color: #dc3545!important;
    font-weight: bold!important;
}

// koniec klas ogólnych
.product-description-container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;

    // left side wrapper
    > div:first-of-type {

        > div:first-of-type {
            display: flex;

            > div:last-of-type > a {
                color: #BB2000;
                font-weight: 700;
                text-decoration: none;

                > i {
                    font-size: 8px;
                    vertical-align: middle;
                }
            }
        }

        > div:last-of-type {
            font-size: 13px;
            line-height: 25px;
            margin: 10px 0;
        }
    }

    // right side wrapper
    > div:last-of-type {
        display: flex;
        flex-direction: column;
        text-align: center;

        // shoe pictures
        > div:first-of-type img {
            width: 100%;
        }

        // slider
        .accessories-slider {
            .slick-slide {
                display: flex;
                flex-direction: column;

                .slider-shoe-name {
                    max-width: 200px;
                }
            }
            img {
                margin-bottom: 15px;
                width: 170px;
                height: 170px;
            }
        }
    }
}

.specification-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 13px;
    font-weight: 100;
    line-height: 35px;
    text-transform: capitalize;
}

.single-product-container {
    margin: 0 10px;

    &__slider {
        text-align: center;

        .slick-slide {
            img {
                width: 100%;
    
            }
            
            > div:first-of-type {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 10px 0;
                font-weight: bold;

                > div:first-of-type {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 17px;
                    
                    .slider-badge {
                        // margin: auto 0;
                        font-size: 1em;
                        text-transform: uppercase;
                        color: white;
                        background-color: #BB2000;
                        padding: 2px 10px;
                        margin-right: 6px;
                        // line-height: 30px;
                    }
    
                    .slider-rating-wrapper {
                        margin-left: 6px;
                    }
                }
            }

            .slider-shoe-name {
                font-size: 2em;
                font-weight: 500;
                line-height: 27px;
                text-transform: uppercase;
                letter-spacing: 0.3em;
                // margin: 10px 0;
            }
        }
    }

    &__nav-slider {
        display: none;
    }

    &__product-purchase-details {
        display: flex;
        flex-direction: column;
        font-size: 13px;

        [class^="icon-"]:before, [class*=" icon-"]:before {
            font-size: 13px;
            font-weight: bold;
        }

        .price-wrapper {
            .current-price {
                font-size: 30px;
                font-weight: bolder;
                line-height: 40px;
                color: #BB2000;
            }

            .discount-info-wrapper {
                display: flex;
                line-height: 27px;

                .price-before-discount {
                    font-size: 20px;
                    font-weight: normal;
                    color: #CFCFCF;
                    text-decoration: line-through;
                }

                .discount-text {
                    display: inline;
                    font-size: 13px;
                    margin-left: 10px;
                }
            }
        }

        .send-info-wrapper {
            margin: 10px 0 15px;

            > span {
                margin-left: 10px;
            }
        }

        .shoe-size-wrapper {
            position: relative;
            width: 100%;
            max-width: 100%;
        }

        .size-chart-wrapper {
            margin-top: 10px;
            margin-bottom: 20px;

            > i > a {
                margin-left: 15px;
                color: #231F20;
                font-style: normal;
            }
        }

        .action-wrapper {
            display: flex;
            align-items: baseline;

            button {
                background-color: #231F20;
                border: none;
                color: white;
                padding: 15px 0;
                text-decoration: none;
                display: inline-block;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 1px;
                line-height: 20px;
                text-transform: uppercase;
                margin: 15px 0 10px 0;
                width: 80%;
                height: 57px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
                z-index: 1;
                transition: 0.5s;

                span {
                    position: absolute;
                    width: 20%;
                    height: 100%;
                    background-color: #BB2000;
                    transform: translateY(150%);
                    border-radius: 50%;
                    left: calc((var(--n) - 1) * 20%);
                    transition: 0.5s;
                    transition-delay: calc((var(--n) - 1) * 0.1s);
                    z-index: -1;
                }

                &:hover span {
                    transform: translateY(-19px) scale(1.5);
                }

                > span:nth-child(1) {
                    --n: 1;
                
                }
                > span:nth-child(2) {
                    --n: 2;
                }

                > span:nth-child(3) {
                    --n: 3;
                }

                > span:nth-child(4) {
                    --n: 4;
                }

                > span:nth-child(5) {
                    --n: 5;
                }

            }

            i {
                display: block;
                width: 20%;
                text-align: center;

                &::before {
                    font-size: 20px;
                    font-weight: normal;
                }
            }
        }

        > .icon-truck-outline, .icon-return-outline, .icon-phone-outline {
            margin: 7px 0;
            font-style: normal;

            span {
                margin-left: 10px;

                b {
                    margin: 0 15px;
                }
            }
        }
    }

    &__available-colors-wrapper {
        text-align: center;

        &--header-text {
            font-size: 2em;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 4px;
            line-height: 27px;
            margin: 20px 0;   
        }

        &--main-content {
            width: 100%;
            display: flex;
            justify-content: center;

            div {
                display: flex;
                flex-direction: column;

                img {
                    width: 100%;
                    max-width: 80px;
                    margin-bottom: 5px;
                }
            }

            div:first-child {
                margin-right: 10px;
                margin-left: 0px;
            }

            div:last-child {
                margin-left: 10px;
                margin-right: 0px;
            }

            div:not(div:first-of-type div:last-of-type) {
                margin: 0 10px;
            }
        }
    }
}

.top-section-container {
	margin-top: 70px;

    &__season-discount {
        display: flex;
        justify-content: center;
        background-color: #BB2000;
        text-transform: uppercase;
        font-size: 15px;
        letter-spacing: 1px;
        height: 47px;

        a {
            display: flex;
            align-items: center;
            color: $link_color_alternativ;

            &:hover {
                color: $link_color_hover_alternativ;
            }

            &::after {
                font-family: 'fontello';
                content: '\F006';
                margin-left: 5px;
                font-size: 10px;
            }
        }
        
    }

    &__main-info-banner {
        display: none;
    }

}

.main-slider-container {
    // display: none;      // tylko dla celów zadania z dnia 6
    width: 100%;
    text-align: center;

    img {
        width: 100%;
        max-height: 428px;
        object-fit: fill;
    }
}

.company-slider-wrapper {
    // display: none;      // tylko dla celów zadania z dnia 6
    text-align: center;

    .company-slider-container {
        display: inline-block;
        width: 85%;

        .slick-track {
            display: flex;
            align-items: center;

            img {
                width: 70%;
                margin: 0 auto;
                object-fit: fill;
            }
        }
    }
}

.section-banner-wrapper {
    // display: none !important;      // tylko dla celów zadania z dnia 6
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(40vh, auto);
    grid-gap: 10px;
    // margin: 0 5px;

    .single-banner-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        background-color: $gray_lighter_color;
        align-items: center;

        a {
            font-size: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: center;
        }
    }
}

.products-container {
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: center;

    &__header-text {
        margin-bottom: 25px;

        span {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }

    &__slider {
        margin-bottom: 27.5px;

        img {
            margin-bottom: 15px;
            min-width: 215px;
            min-height: 212px;
        }
    }
}

.insta-container {
    margin: 15px 0;
    text-align: center;

    &__header-text {
        padding: 15px 0;

        span {
            font-family: initial;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    &__icons {
        padding: 15px 0;

        img {
            margin: 0 25px;
            height: 50px;
        }
    }

    &__slider {
        display: inline-block;
        width: 100%;
        padding: 15px 0;

        .slick-track {
            display: flex;
            align-items: center;

            img {
                width: 95%;
                margin: 0 auto;
                object-fit: fill;
            }
        }
    }
}

.advantage-container {
    text-align: center;

    &__header-text {
        padding: 15px 0;
        max-width: 345px;
        margin: 0 auto;

        span {
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }

    &__main {
        width: 100%;
        padding: 15px;

        > .image-section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            // grid-auto-rows: minmax(auto, 60px);
            grid-gap: 15px;
            // margin: 0 5px;

            img {
                width: 100%;
            }
        }

        > .block-section {
            display: none;
        }
    }

    &__footer-text {
        padding: 15px 0;
        font-size: 15px;
        margin: 0 15px;
        line-height: 25px;
    }
}

//'OPINIE NASZYCH KLIENTÓW' section
.clients-opinion-container {
    &__header-text {
        padding: 15px 0;
        max-width: 345px;
        margin: 0 auto;

        span {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 4px;
        }
    }

    &__main-content {
        display: flex;
        flex-direction: column;
        // flex-wrap: wrap;

        .statics-wrapper {
            width: 100%;
        }

        .comments-wrapper {
            width: 100%;
        }

        // .all-opinions-link {

        // }
    }
}

footer {
    width: 100%;

    .discount-wrapper {
        text-align: center;
        padding-top: 20px;
        background-color: #F5F5F5;

        > div:first-of-type {
            max-width: 339px;
            margin: 0 auto;
        }

        .discount-wrapper__text-element-1 {
            font-size: 20px;
            letter-spacing: 5px;
        }

        .discount-wrapper__text-element-2 {
            font-size: 20px;
        }

        .button-discount {
            background-color: #231F20;
            border: none;
            color: white;
            padding: 15px 32px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            margin: 30px 0;
          }
    }

    .nav-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        background-color: #231F20;
        align-items: center;
        text-align: center;
    }

    .menu-wrapper {
        list-style-type: none;

        > li {
            margin-bottom: 30px;
            margin-top: 30px;
        }

        li {
            font-size: 15px;
            font-weight: bold;
            letter-spacing: 3px;
			line-height: 20px;

			> a {
				color: #fff;
			}

            ul > li {
                margin-top: 10px;
                font-size: 13px;
                font-weight: normal;
                letter-spacing: 1px;
                line-height: 30px;
            }

            ul > li > a {
                padding: 5px;

                &:hover {
                    color: $link_color_hover;
                }
            }

            ul {
                list-style-type: none;
                display: none;
            }
        }
    }

    .icons-wrapper {
        text-align: center;

        img {
			padding: 20px;
			max-width: 100%;
        }

        .icons-wrapper__element1 {
            .icons-wrapper__element1__visible {
                display: none;
            }
        }

        .icons-wrapper__element2 {
            display: none;
        }
    }
}

#top-links {
	display: flex;
	align-items: center;
	> a.link-icon {
		color: #000;
		font-size: 1.75rem;
		margin-right: 1.25rem;
		&:nth-of-type(2), &:nth-of-type(3) {
			display: none;
        }

        img {
            height: 26px;
        }
	}
}
#menu-box {
	position: fixed;
	z-index: 2;
	width: 100%;
	background: #fff;
	top: 0;

	> div {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		transition: transform .3s ease-out;

		> a > img {
			// height: 32px;
            // width: auto;
            height: 32px;
            min-width: 10%;
            object-fit: scale-down;
		}
	}

	nav {
		// display: none;
		position: absolute;
		width: calc(100% - 80px);
		background: #fff;
		top: 0;
		height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;

		transition: transform .3s ease-out;
		left: 100%;

		ul {
			list-style: none;
        }
        
		.main-nav-box {
			padding: 0;
			display: flex;
			flex-wrap: wrap;

			> li {
				width: 100%;
				&.order-first {
					order: -1;
				}
			}
			li + li, li ul {
				border-top: 1px solid #ddd;
			}

			.menu-dropdown, .menu-dropdown li ul {
				position: absolute;
				display: none;
				top: 43px; left: 0;
				width: 100%; height: calc(100% - 43px);
				overflow-y: auto;
				background-color: #fff;
				z-index: 1;
				&.top {
					top: 0; height: 100%;
				}
			}
        }
        
		li:not(.menu-banner) > a {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-decoration: none;
			text-transform: capitalize;
			padding: 1rem;
			font-size: 13px;

			&.open {
				font-weight: bold;
				justify-content: center;
				position: relative;
				span {
					position: absolute;
					transform: rotate(90deg);
					left: 1rem;
				}
				+ .menu-dropdown, + ul {
					display: block;
				}
			}
        }
        
		li.only-mobile a {
			justify-content: flex-start !important;
			background-color: #cbcbcb;
			img {
				margin-right: 1rem;
            }
            > i {
                font: 20px "Cabin";

                &::before {
                    text-align: start;
                    margin-left: 0;
                    margin-right: 0.7em;
                }
            }
			.menu-arrow {
				margin-left: auto !important;
			}
			span:not(.menu-arrow) {
				display: inline-block;
				padding: 0 10px;
				&:first-of-type {
					padding-left: 0;
				}
				+ span {
					border-left: 1px solid #ddd;
				}
			}
		}
		.menu-arrow {
			background-image: url('img/arrow_dropdown.svg');
			background-size: 10px auto;
			background-position: center;
			background-repeat: no-repeat;
			width: 10px; height: 10px;
			display: block;
			transform: rotate(-90deg);
		}
	}
	&.open {
		nav {
			transform: translateX(-100%);
			box-shadow: -1px 0 10px 0 rgba(0,0,0,0.25);
		}
		> div {
			transform: translateX(calc(-100% + 80px));
		}
	}
}
.left-submenu {
	display: flex;
	flex-wrap: wrap;

	> li {
		width: 100%;

		&.order-first {
			order: -1;
		}
	}
}
.menu-banner {
	width: 100%;

	a {
		display: block;
		padding-bottom: 56%;
		position: relative;
		margin-bottom: 0;
		img {
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 100%;
			background-color: #eee;
			object-fit: cover;
			text-transform: uppercase;
			font-size: 1.25rem;
			letter-spacing: 3px;
			text-align: center;
			color: #000;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
#search-box {
	position: absolute;
	top: 100%; left: 0;
	z-index: 1;
	width: 100%;
	padding: .75rem;
	background-color: #f1f1f1;
	display: none;
	input {
		border: none;
		border-bottom: 1px solid #000;
		padding: .5rem 0;
		width: 100%;
		background-color: transparent;
	}
	button {
		position: absolute;
		right: 0; top: 0;
		border: none;
		height: 100%;
		width: 32px;
		background-color: transparent;
		font-size: 1rem;
		cursor: pointer;
	}

}
#search-box input::placeholder {
	color: #000;
	opacity: 1;
}
#cart-icon {
	display: flex;
	margin-left: .75rem;
	flex-shrink: 0;
	> div {
		position: relative;
		margin-right: .5rem;
		min-height: 32px;
		img {
			height: 26px;
		}
		span {
			position: absolute;
			font-weight: 700;
			background: #fff;
			bottom: 1px;
			right: 3px;
			font-size: 14px;
			padding-right: 1px;
		}
	}
	> span {
		display: none;
		font-size: 13px;
		text-transform: uppercase;
		> b {
			display: block;
			font-weight: 700;
			text-transform: initial;
		}
	}
	> i {
		display: none;
		align-self: center;
		margin-left: .5rem;
		font-size: 1rem;
	}
}
#langs {
	display: none;
	position: relative;
	margin-left: 1.75rem;
	> button {
		padding: .75rem 1.25rem .75rem .5rem;
		background-image: url('../img/arrow_dropdown.svg');
		background-repeat: no-repeat;
		background-size: 10px auto;
		background-position: right 13px center;
		min-width: 67px;
		background-color: transparent;
		border: none;
		text-align: left;
		cursor: pointer;
	}
	ul {
		list-style: none;
		padding: 0;
		flex-direction: column;
		position: absolute;
		background: #fff;
		z-index: 1;
		display: none;
	}
	li {
		display: block;
		margin-left: 0 !important;
		&.active {
			order: -1;
		}
	}
	a {
		display: flex;
		align-items: center;
		color: #000;
		text-decoration: none;
		padding: .5rem .75rem;
		span {
			margin-left: .5rem;
			font-weight: 700;
			font-size: 12px;
		}
	}
	img {
		width: 20px;
		box-shadow: 0 1px 2px 0 #999;
		border-radius: 10px;
	}
}
#burger {
	border: none;
	padding: .5rem;
	margin-left: 1rem;
	background-color: transparent;
	cursor: pointer;
	img {
		display: block;
		height: 22px;
	}
}

.products-container {
    &__slider {
        div.slick-slide:hover .btn-product-popup{
            display: inline-block;
        }
    }
}

@media (min-width: 980px) {
    .breadcrumbs {
        display: block;
    }

    #toggle-mobile {
        display: inline;
    }
	#burger, #top-links > a.link-icon:nth-of-type(1), .only-mobile {
		display: none;
	}
	#search-box {
		position: relative;
		top: 0; left: 0;
		max-width: 320px;
		flex-shrink: 1;
		margin: 0 1.5rem;
		background-color: #fff;
		display: block;

		input {
			background-color: transparent;
		}
	}
	#top-links > a.link-icon:not(:nth-of-type(1)) {
        display:  block !important;

        img {
            height: 26px;
        }
	}
	#cart-icon {

		> span, > i {
			display: block;
		}
	}
	#menu-box {
		position: relative;
		padding: 1rem 0 0 0;
		> div {
			padding: .5rem 1rem;
			justify-content: space-around;
			align-items: center;
			transform: none !important;

			> a > img {
				height: 64px;
			}
        }

		nav {
			display: table;
			margin: 0 auto;
			position: static;
			height: auto; width: auto;
			transform: none !important;
			box-shadow: none;

			> ul {
				display: flex;
				justify-content: center;
				position: relative;

				> li {
					width: auto !important;
					+ li {
						margin-left: 1rem;
					}
					> a {
						display: block;
						font-weight: bold;
						color: #000;
                        text-transform: uppercase !important;
                        letter-spacing: 2px;
						padding: .75rem 1rem !important;
						font-size: 1rem !important;
					}
					.menu-dropdown {
						position: absolute;
						background-color: #fff;
						top: 100% !important;
						left: 0;
						width: 100%;
						height: auto !important;
						box-shadow: 30vw 0 0 0 #fff, -30vw 0 0 0 #fff;
						display: none;
						padding: 1rem;

						> ul {
							width: 100%;
						}
						li ul {
							position: static !important;
							display: block !important;
						}
					}
					&:hover {
						.menu-dropdown {
							display: flex;
						}
						> a {
							background-color: #000;
							color: #fff !important;
						}
					}
				}

			}
			li, ul {
				border: none !important;
			}
			.menu-arrow {
				display: none;
			}
		}
	}
	.left-submenu {
		display: block !important;
		 > li {
			width: 100%;
			max-width: 33.332%;
			float: left;
			&:last-child {
				margin-top: -22px;
			}
			> a {
				font-weight: bold;
				text-transform: uppercase !important;
			}
			a {
				display: block;
				padding: 5px !important;
				font-size: 10px !important;
			}
		 }
	}
	.right-submenu {
		text-align: center;
		li {
			display: inline-block;

			a {
				text-transform: uppercase !important;
				display: block !important;
			}
		}
		li:not(.menu-banner) {
			+ li {
				margin-left: 4rem;
			}
			a {
				font-size: 14px !important;
				padding: 4px !important;
				margin: 5px 0;
			}
		}
	}
	.menu-banner {
		margin-bottom: 1rem;
	}
	#langs {
		display: block;
	}

    .top-section-container {
		margin-top: 0;

        // &__season-discount {
        // }

        &__main-info-banner {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #231F20;
            color: white;
            text-align: center;
            text-transform: uppercase;
            font-size: 15px;
            height: 47px;
			div + div {
                margin-left: 2.5rem;

                // img {
                //     margin-right: 10px;
                // }
			}
        }
    }

    .benefits {
        font-size: 1rem;

        &__block {
            &::before{
                font-family: 'fontello';
                margin-right: 5px;
            }

            &.--delivery::before {
                content: '\E80B';
            }

            &.--return::before {
                content: '\E925';
            }

            &.--sale::before {
                content: '\E926';
            }
        }

        &__item {
            display: inline-block;
            letter-spacing: 1px;
        }
    }

    .single-product-container {
        display: flex;
        margin: 0 30px;

        > div:first-of-type {
            max-width: 69%;
            width: 100%;

            .single-product-container__slider {
                width: 90%;
                margin: 0 auto;

                .slick-slide {
                    display: flex;
                    flex-direction: column-reverse;

                    > div:first-of-type {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;

                        .slider-badge {
                            font-size: 18px;
                            text-transform: uppercase;
                            color: white;
                            background-color: #BB2000;
                            padding: 5px 18px;
                            margin-right: 0;
                        }

                        .slider-rating-wrapper {
                            font-size: 14px;
                            margin-left: 0;
                        }
                    }
                }

                a {
                    width: 70%;
                    margin: 0 auto;
                    overflow: hidden;

                    img {
                        transition: transform .5s ease;
    
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }

        > div:nth-of-type(2) {
            max-width: 6%;
            width: 100%;
            margin: auto 0;
            order: -1;

            .single-product-container__nav-slider {
                display: block;
            }
        }

        > div:last-of-type {
            max-width: 25%;
            width: 100%;
        }
    }

    .product-description-container {
        display: flex;
        flex-direction: row;
        margin: 50px 30px 150px 30px;

        // left side wrapper
        > div:first-of-type {
            width: 100%;
            max-width: 40%;
        }

        // right side wrapper
        > div:last-of-type {
            width: 100%;
            max-width: 60%;

            // shoe pictures
            > div:first-of-type {
                display: flex;
                flex-direction: row;
                margin-bottom: 120px;

                > div {
                    width: 50%;
                }

            }

            // slider
            .accessories-slider {
                display: flex;
                align-items: center;

                .horizontal-big-arrow-slick-prev {
                    left: 0;
                    top: auto;
                }

                .horizontal-big-arrow-slick-next {
                    right: 0;
                    top: auto;
                }

                .draggable {
                    width: 90%;
                    margin: 0 auto;
                }

                .slick-slide {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
    
                    .slider-shoe-name {
                        max-width: 200px;
                        font-size: 10px;
                        text-align: left;
                    }

                    .slider-shoe-price {
                        text-align: left;
                    }
                }

                img {
                    margin: 0 auto 15px auto;
                    width: 70px;
                    height: 70px;
                    // object-fit: scale-down;
                }
            }
        }
    }

    .main-slider-container img {
        max-height: 545px;
    }

    .section-banner-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(40vh, auto);
        grid-gap: 10px;
        // margin: 0 15px;
    }

    .products-container__slider {

        .slick-prev {
            height: 20px!important;
            width: 20px!important;
            background: url('/img/prev_arrow.png')!important;
            background-position: center!important;
            background-size: cover!important;
            left: 0px;
            z-index: 1;
          }

        .slick-next{
            height: 20px!important;
            width: 20px!important;
            background: url('/img/next_arrow.png')!important;
            background-position: center!important;
            background-size: cover!important;
            right: 0;
        }

        .slick-track {
            display: flex;
            align-items: center;

            img {
                width: 100%;
                margin: 0 auto;
                object-fit: fill;
            }
        }
    }

    .advantage-container {
        text-align: center;
        padding: 15px 0;

        &__header-text {
            padding: 15px 0;
            width: 600px;
            margin: 0 auto;

            span {
                font-family: 'Open Sans';
                font-size: 20px;
                font-weight: 600;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }

        &__main {
            width: 100%;
            padding: 15px 0;

            > .image-section {
                display: none;
            }

            > .block-section {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-auto-rows: minmax(30vh, auto);
                grid-gap: 10px;
                // margin: 0 5px;

                .block-section-item {
                    display: grid;
                    grid-template-columns: 1fr;
                    background-color: $gray_lighter_color;
                    align-items: center;

                    a {
                        font-size: 17px;
                        letter-spacing: 2px;
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
        }

        &__footer-text {
            font-size: 15px;
            width: 80%;
            margin: 0 auto;
            line-height: 25px;
        }
    }

    .clients-opinion-container {
        &__main-content {
            flex-direction: row;

            > div:first-of-type {
                width: 100%;
                max-width: 30%;
            }

            > div:last-of-type {
                width: 100%;
                max-width: 70%;
            }
        }
    }

    footer {
        .discount-wrapper > div:first-of-type {
            max-width: 800px;
            margin: 0 auto;
        }
        .nav-container {
            background-color: #231F20;
            text-align: center;

            .menu-wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-items: start;
                text-align: center;

                li ul {
                    display: block!important;
				}
				> li > a {
					pointer-events: none;
				}
            }
        }

        .icons-wrapper__element1 {
            display: grid;
            grid-template-columns: repeat(8, 2fr);
            align-items: center;

            .icons-wrapper__element1__visible {
                display: block!important;
                font-size: 13px;
                font-style: normal;
            }
        }

        .icons-wrapper__element2 {
            display: block!important;
        }
    }

}

@import 'common-classes';